@import "tailwindcss";

@theme {
  --font-family-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --color-black: #000000;
  --color-black-100: #000319;
}
