name: Server Deployment

on:
  push:
    branches:
      - main
jobs:
  publish:
    if: ${{ ! contains(github.event.head_commit.message, '[skip deploy]') }}
    name: Publish image to container registries
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3.3.0
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.1.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5.3.0
        with:
          push: true
          context: .
          tags: ghcr.io/masonbesmer/masonbesmer.me:latest

  updateOnServer:
    name: Update running container on server
    runs-on: ubuntu-latest
    needs: publish
    steps:
      - name: Update container on server
        uses: favware/ssh-remote-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_KEY }}
          username: ${{ secrets.SSH_USERNAME }}
          command: ${{ secrets.SSH_COMMAND }}
          silent: false
